@font-face {
    font-family: Cubano;
    src: url("/cubano.ttf");
}

.button{
    color: black;
    font-size: 15px;
    font-family: Cubano;
    text-decoration: none;
    background-color: #25e35f;
    padding: 12px;
    display: inline-block;
    border-radius: 8px;
    margin: 5px;
}

.button:hover{
    background-color: #24bb51;
}

body {
    font-family: "Quicksand", sans-serif;
    margin: 0;
    background-color: #12181b;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
}

#page-logo{ 
    padding: 10px;
    font-family: Cubano;
    color: #ef4444;
    font-size: 40px;
    text-decoration: none;
}

header ul {
    display: flex;
}

footer {
    background: linear-gradient(180deg, #131920, #12181b);
    padding: 10px;
}

footer ul {
    display: flex;
    justify-content: center;
}

footer li {
    width: 80px;
    height: 80px;
    margin: 5px;
}

footer img {
    height: 50px;
}

