@font-face {
    font-family: Cubano;
    src: url("/cubano.ttf");
}

body {
    font-family: "Quicksand", sans-serif;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

#page-logo{ 
    padding: 10px;
    font-family: Cubano;
    color: #ef4444;
    font-size: 40px;
    text-decoration: none;
}

header ul {
    display: flex;
}

header a {
    margin-left: 20px;
    font-family: Cubano;
    color: #1db64b;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}