@font-face {
    font-family: Cubano;
    src: url("cubano.ttf");
}

#hero {
    height: 800px;
    background-image: url("images/places/ocean.jpg");
    background-position: center;
    background-size: cover;
}

#hero-content {
    width: 900px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    text-align: center;
    padding: 50px 0;
    margin: 0 auto;
    position: relative;
    top: 250px;
}

#hero-content h1 {
    color: white;
    font-family: Cubano;
    font-size: 40px;
    font-weight: normal;
    margin: 0;
}

#hero-content p {
    color: white;
    text-transform: uppercase;
    font-size: 15px;
}

#highlights {
    text-align: center;
    padding: 24px;
    background: linear-gradient(0, #131920, #12181b);
}

#highlights h2 {
    font-family: Cubano;
    color: white;
    font-weight: normal;
    font-size: 30px;
}

#destinations {
    display: flex;
    justify-content: space-evenly;
    text-transform: uppercase;
}

.destination img {
    height: 250px;
    border-radius: 4px;
}

.destination p{
    color: white;
}